body {
  background-color: #EFF6FF;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

h1, h2, h3, p {
  color:#374151;
}

.text-white {
  color: white;
}


.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.mt-50 {
  margin-top: 50px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#headers {
  margin-top: 40px;
  margin-bottom: 40px;
}

#info {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url('elements.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}


div.square-400 {
  width: 400px;
  height: 400px;
}

div.square-200 {
  width: 200px;
  height: 200px;
}

div.relative {
  position: relative;
}

div.absolute {
  position: absolute;
}

div.absolute.pos-right-0-top-50 {
  top: 50px; 
  right: 0;
}

.border {
  border: 3px solid black;
}

.border.border-blue {
  border-color: blue;
}

.rounded {
  border-radius: 16px;
}

ul.circle {
  list-style-type: circle;
}

ul.square {
  list-style-type: square;
}

li {
  font-size: 1.5rem;
}

.pos-right {
  float: right;
}